<div id="thank_you_text">
	<span id="important_to_us">Your feedback is important to us</span> and will help improve our website.<br/>
	If you want to get updates about StopBullying.gov, you can stay connected through:
</div>
<div id="thank_you_icons">
	<%= link_to image_tag('facebook.png', :alt => "Facebook", :class => "notification_icon", :id => "facebook_icon"), 'https://www.facebook.com/StopBullying.Gov', :title => "Facebook", :class => "notification_links", :id => "facebook_link" %>
	<%= link_to image_tag('twitter.png', :alt => "Twitter", :class => "notification_icon", :id => "twitter_icon"), 'https://twitter.com/#!/stopbullyinggov', :title => 'Twitter', :class => "notification_links", :id => "twitter_link" %>
	<%= link_to image_tag('youtube.png', :alt => "YouTube", :class => "notification_icon", :id => "youtube_icon"), 'http://www.youtube.com/StopBullyingGov', :title => "YouTube", :class => "notification_links", :id => "youtube_link" %>
	<%= link_to image_tag('email-updates.png', :alt => "Email Updates", :class => "notification_icon", :id => "email_updates_icon"), 'https://public.govdelivery.com/accounts/USHHSSB/subscriber/new', :title => "Email Updates", :class => "notification_links", :id => "email_updates_link" %>
</div>